<html>
<body>
  <h1>
      {{what}}
  </h1>
  <table>
    <tr>
      <td>
      {% if value != None %}
        value of {{variable}} in {{year}} is {{value}}   
      {% else %}
          Not Found
      {% endif %}  
          <br/>
          <!-- generate download link -->
          <!-- <a href='{{ MEDIA_URL }}{{ file.relative_path }}'>{{ file.name }}</a>  -->
      </td>
    </tr>
  </table>
 
</body>
 
</html>