<html>
<head>
  <title>Django File Upload</title>
  <style>
    h1 {
      font-size: 2em;
      font-weight: bold;
      color: #777777;
      text-align: center
    }
    table {
      margin: auto;
    }
  </style>
</head>
 
<body>
  <h1>
      {{what}}
  </h1>
  <table>
    <tr>
      <td>
        <form action="{{ request.build_absolute_uri }}upload/" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="text">Query Variable </label>
          <input type="text"  name="variable">
          <br/>
          <label for="text">Query Year </label>
          <input type="text" name="year">
          <br/>
          <input type="file" name="file"/>
          <br />
          <input type="submit" value="Submit" />
        </form>
      </td>
    </tr>
  </table>
 
</body>
 
</html>